---
# Only the main Sass file needs front matter (the dashes are enough)
---



$mod_break_small:768px;

//common css components
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.mod_head{
    height:53px;
    letter-spacing: .2em;
    border-bottom: 1px solid #e8e8e8;

    .mod_site-title{
        width:300px;
        float:left;
        height:100%;
        font-family:Helvetica,Arial,sans-serif;
        font-weight:600;
        color:rgb(46, 46, 46);
        line-height: 53px;
        padding:0 10px;
        font-size:1em;
        a{
            text-decoration:none;
            color:rgb(46, 46, 46);
            text-transform: uppercase;
           

          }
        .social-icon{
          font-size:1.3em;
          padding:3x;
          transition:font-size .2s ease-in-out;
          &:hover{
            cursor:pointer;
            font-size:1.7em;
            }
        }
        }

        .mod_nav{
              float: right;
              line-height: 53px;
              height: 100%;
              padding: 0 10px;
              @media screen and (max-width:$mod_break_small){
                height:auto;
              }
            .trigger{
               font-size:.85em;
              a{
                text-decoration: none;
                color: #2e2e2e;
                text-transform: uppercase;
                padding: 0 10px;
                font-weight:600;
              }
            }

        }


    }
.mod-page-content{
  background-color: #f5f8fa;
}


.mod-home{
    font-family:Helvetica,Arial,sans-serif;
    letter-spacing: 0.01rem;
  .mod-page-heading{
   
     font-size:4em;
     text-align:center;
  }
  .mod-post-list{
    .post-link{
      font-size: 1.75rem;
      text-decoration:underline;
      color:rgb(17, 17, 17);
      &:hover{
        color: #007199;
      }
    }
    .mod-desc{
      font-family: "Merriweather", serif;
      a{
        text-decoration:none;
         color:rgb(17, 17, 17);
         &:hover{
        color: #007199;
      }

      }
    }
  }
}



//scss rules for footer
.mod-footer{
  height:53px;
  padding:0px !important;
  .mod_site-title{
        width:300px;
        float:left;
        height:100%;
        font-family:Helvetica,Arial,sans-serif;
        color:rgb(46, 46, 46);
        line-height: 53px;
        padding:0 10px;
        font-size:.7em;
        a{
            text-decoration:none;
            color:rgb(46, 46, 46);
           

          }
        .social-icon{
          font-size:1.3em;
          padding:3x;
          transition:font-size .2s ease-in-out;
          &:hover{
            cursor:pointer;
            font-size:1.7em;
            }
        }
        }
  .mod_footer-social{
    width:120px;
    float:right;
     a{
        text-decoration:none;
        color:rgb(46, 46, 46);
          }
    .social-icon{
          font-size:1em;
          padding:3x;
          transition:font-size .2s ease-in-out;
          line-height:53px;
          &:hover{
            cursor:pointer;
            font-size:1.5em;
            }
        }
  }


}



.about-container{
  font-family: Helvetica,Arial,sans-serif;
  letter-spacing: 0.01rem;
  .img-circle{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left:calc(50% - 60px);
    border:12px solid white;
  }

  .about-title{
    text-decoration: none;
    color: #2e2e2e;
    text-transform: uppercase;
    text-align:center;
    font-size: 3rem;
    letter-spacing: 0.03rem;
    font-weight:600;
  }

  .description{
    color: #aaa;
    text-align: center;
    font-size: 20px;
    font-weight:300;
    font-style:italic;
    margin-bottom:60px;
    
  }

  .about-text{
    float: left;
     width: 75%;
     text-align:left;
     p{
      line-height: 1.8em;
      font-family: serif;
      letter-spacing:0.04rem;
     }
      h4{
        font-size: 20px;
        text-decoration: none;
        color: #2e2e2e;
        font-weight: 600;
        text-align: left;
        margin-bottom: 10px;

     }
  }
  .contact-list{
    float: left;
    width:25%;
    h4{
      font-size: 20px;
      text-decoration: none;
      color: #2e2e2e;
      font-weight: 600;
      text-align: left;
    }

     .social-link-list{
      list-style-type:none;
      margin-left:0px;
      .social-link{
        text-decoration: none;
        color: #2e2e2e;
        line-height:28px;
        &:hover{
          text-decoration:underline;
        }
        .social-icon{
          font-size:26px;
        }
      }
     }
  }

}


